
.parallax {
    /* Create the parallax scrolling effect */
    background-image:url("ocean.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxBlock {
    background-image:url("ocean.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
  height:400px;
}

.quote{
  text-align:center;
  color:#440014;
  font-family: 'Lobster', cursive;
  font-size:30px;
  font-color:white;
  vertical-align:center;
  padding-top:50px;
  padding-bottom:100px;
  text-shadow: 0px 0px 10px white;
  max-width:500px;
  margin: 0 auto;
}

.author{
  text-align:center;
  font-family:'Nova Mono', monospace;
  color:#440014;
  font-size:20px;
  text-shadow: 0px 0px 10px white;
  padding-bottom:200px;
  max-width:500px;
  margin: 0 auto;
}

.menu-bars{
  top:0;
  right:0;
  padding-right:30px;
  padding-top:25px;
}

p{
  padding-top:10px;
  color:#440014;
}

.section-padding{
  padding:100px;
}

.contact{
  font-size:20px;
  margin:0 auto;
  text-align:center;
  font-family:'Dosis', sans-serif;
  background-color:#440014;
  color:white;
  box-shadow: 10px 10px 5px white;
  vertical-align:center;
}
