
a{
  cursor:pointer;
  text-decoration: none;
}

.awards{
  font-size:30px;
  margin:auto;
  display:flex;
}

ul{
  text-align:center;
  margin:auto;
  width:100%;
  background-color:rgba(255,255,255,0.5);
}

ul, li{
  padding:0;
}


li a{
  color:#440014
}

.award {
  font-family:'Dosis', sans-serif;
  font-weight: 500;
  font-size:25px;
  color:#3B413C;
  margin:auto;
  padding-top:10px;
  padding-bottom:10px;
}

.award:last-child {
  border: none;
}

.award {
  text-decoration: none;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
}

.award::after{
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.award:hover {
  font-size: 30px;
}

