
a{
  cursor:pointer;
  color:#84485A;
  text-decoration: none;
}

.awards{
  border-radius: 25px;
  font-size:30px;
  margin:auto;
  display:flex;
}

ul{
  text-align:center;
  margin:auto;
  width:100%;
}

ul, li{
  padding:0;
}


li a{
  color:#440014
}

/*li:nth-child(even) { */
  /*background:white;*/
/*}*/


.award {
  font-family:'Dosis', sans-serif;
  font-weight: 500;
  font-size:25px;
  color:#3B413C;
  margin:auto;
  box-shadow: 0 0 4px 2px #DAF0EE inset;
  padding-top:10px;
  padding-bottom:10px;
}

.award:last-child {
  border: none;
}

.award {
  text-decoration: none;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
}

.award::after{
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.award:hover {
  font-size: 30px;
  /*box-shadow: 0 7px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
  text-shadow: 0 10px 10px #9DB5B2;
}

