

h3{
  text-align:center;
  font-size:30px;
  font-family:'Dosis', sans-serif;
  padding:0px;
  font-variant:small-caps;
  margin-bottom:0px;
  color:rgb(18,0,50);
}

ul{
  text-align:center;
  padding-left:0;
  font-family:'Dosis', sans-serif;
  font-size:20px;
  background-color:transparent;
  color:rgb(18,0,50);
}

.list-button{
  opacity:100%;
  color:rgb(18,0,50);
  background-color: Transparent;
  border: none;
  cursor:pointer;
  margin:auto;
}


.center-items{
  text-align:center;
  padding-bottom:50px;
}

.modal-close{
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
  color:#94D1BE;
  text-outline:'black';
}


.course-list{
  text-align:center;
  list-style-type:none;
  color:#3B413C;
}


.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: papayawhip;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rebeccapurple;
}
