
.headings{
  text-align:center;
  font-size:30px;
  font-family: 'Lobster', cursive;
  font-size:30px;
  color:#440014;
  transition:all 0.3s ease;
}

.headings:hover.personal-hover:after {
  content:"- Albert Einstein";
  color:#0c1821;
}

.headings:hover.education-hover:after {
  content:"- Robert Kiyosaki";
  color:#0c1821;
}

.headings:hover.work-hover:after {
  content:"- Confucius";
  color:#0c1821;
}

.headings:hover.awards-hover:after {
  content:"- Jaki Clark";
  color:#0c1821;
}

.headings:hover.photos-hover:after {
  content:"- Burk Uzzle";
  color:#0c1821;
}
