

img{
  float:left;
  border-radius: 25px;
  height: 250px;
  padding-right:20px;
}

span{
  color:#440014;
  text-align:center;
  display:block;
  font-size:23px;
  padding-left:100px;
  font-family:'Dosis', sans-serif;
  margin:auto;
}

.personal-span{
  width: 1000px;
  text-color:#440014;
}

span .text{
  padding-left:30px;
}

p{
  padding-top:25px;
}

.personal-text {
  color:#440014;
}

a{
  cursor:pointer;
}

.my-links{
  color:#94D1BE;
}
