
span{
  padding-top:0px;
  padding-left:0px;
  margin: initial;
}

.description{
  font-size:20px;
  font-family:'Dosis', sans-serif;
  padding-bottom: 0;
}

.link-style{
  font-size:20px;
}

.job-header{
  font-size:25px;
  color:#440014;
  font-family:'Dosis', sans-serif;
  padding:0px;
  margin:0px;
}

.job-header:hover {
  color:#0c1821;
}
